<div class="col-xs-12">
  <a href="#">
    <div class="pull-left">
      <h4>Title</h4>
      <p class="list-group-item-text"><b>Format: </b> formato</p>
      <p class="list-group-item-text"><b>Country: </b> country</p>
      <p class="list-group-item-text"><b>Duration: </b>duration</p>
    </div>
    <span class="pull-right">
      <img src="http://www.vanguardia.com/sites/default/files/imagecache/Noticia_600x400/foto_grandes_400x300_noticia/2013/12/30/web_colp_ext_0130_big_ce.jpg" 
        alt=""
        class="img-responsive"
        style="max-height: 100px">
    </span>
  </a>
</div>
