<div *ngFor="let movie of moviesList"class="col-xs-12">
  <a href="#" class="list-group-item clearfix">
    <div class="pull-left">
      <h4>{{ movie.title }}</h4>
      <p class="list-group-item-text"><b>Format: </b> {{ movie.format }}</p>
      <p class="list-group-item-text"><b>Country: </b> {{ movie.country }}</p>
      <p class="list-group-item-text"><b>Duration: </b>{{ movie.duration }}</p>
    </div>
    <span class="pull-right">
      <img [src]="movie.imagePath" 
        alt="{{ movie.title }}"
        class="img-responsive"
        style="max-height: 100px">
    </span>
  </a>
  <hr>
</div>
