<form>
  <div class="form-group">
    <label for="title">Movie Name</label>
    <input type="text" class="form-control"
       id="title"
       placeholder="Enter Movie Name">
  </div>
  <div class="form-group">
    <label for="format">Format</label>
    <input type="text" class="form-control"
       id="format"
       placeholder="Enter Movie Format">
  </div>
  <div class="form-group">
    <label for="country">Movie Country</label>
    <input type="text" class="form-control"
       id="country"
       placeholder="Enter Movie Country">
  </div>
  <div class="form-group">
    <label for="duration">Movie Duration</label>
    <input type="number" class="form-control"
       id="duration"
       placeholder="Enter Movie Duration">
  </div>
  <div class="form-group">
    <label for="imagePath">Movie Image URL</label>
    <input type="text" class="form-control"
       id="imagePath"
       placeholder="Enter Movie Image URL">
  </div>
  <div class="form-group">
    <label for="title">Movie Resume</label>
    <textarea name="resume" id="resume" 
    rows="5"  placeholder="Enter resume"
    class="form-control"></textarea>
  </div>
  <button type="button" class="btn btn-primary">Save</button>
</form>